@import '~bootstrap/scss/bootstrap';
@import 'pond_theme';


section {
  text-align: center;
}

div {
  text-align: center;
}

h2 {
  color: blue;
}

.container {
  border: blue;
}

.myboarder {
  border: solid 1px blue;
  padding: auto;
}

.createuser {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}
